*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn{
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-addBook{
  background-color: #008CBA; 
  color: white; 
  border: 2px solid #008CBA;
  padding: 16px 32px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.book-buttons button {
  margin-right: 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition-duration: 0.4s;
  padding: 5px 10px;
  margin: 10px 0;
}

.book-buttons button:hover {
  background-color: #0056b3;
}
